
    
    .navbarr {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        background: rgba(44, 47, 72, 1);
        width: 100%;
        height: 100vh;
        gap: 15px;
    }
    
    .navbarr>p,
    .navbarr>div:first-child
    {
        color: #FFF;
        font-family: Lato;
        font-size: 1.5em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
        transition: all .3s ease-in-out;
    }
    
    .navbarr > div:first-child{
        background: rgba(255, 255, 255, 0.00);
        box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.10) inset;
        border: 1px solid  rgba(44, 47, 72, 0.50);
        width: 100%;
        box-sizing:border-box;
        padding-left:12px;
        padding-top:20px;
        padding-bottom:20px;
    }
    .nav-wrapp{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 320px;
        max-height: 843.141px;
        
        
    }
    .nav-footerr{
        height: 100%;
        max-height: 72px;
        background: #1D203E; 
        color: #FFF;
        width: 100%;
        border-radius: 0 0 15px 0;
        gap: 4px;
    }
    .nav-footer__logo{
        margin-left: 4px;
    }
    
    .nav-wrapp{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: max(244px,100%);
        max-width: 244px;
        overflow: hidden;
        max-height: 843.141px;
    }
    
    .l {
        display: flex;
        gap: 75px;
        margin-top: 25px;
    }
    
    .nav-wrapp .navbarr img{
        width: 50%;
    }
    
    .card {
        display: flex;
        padding: 8px 59px 8px 8px;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.09);
        position: relative;
        background-blend-mode: overlay;
    }
    
    .storage {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 150px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .storage::-webkit-scrollbar{
        display: none;
    }
    
    .book_storage {
        padding-top: 80px;
        overflow-y: scroll;
        max-height: 843px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        
    }
    
    .book_storage::-webkit-scrollbar{
        display: none;
    }
    
    .modal{
        display:flex;
        z-index: -1;
        opacity: 0;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.7);
        transition:  all 0.3s ease-in-out;
    }
    
    .overflowHidden {
        overflow: hidden;
        height: max(843px,100vh);
    }
    
    .book {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        color: #fff;
        font-weight: 500;
        gap: 5px;
        transition: .2s all ease-in-out;
        cursor: pointer;
    }
    
    .book:hover{
        background: rgba(255, 255, 255, 0.09);
    
    }
    
    .book > p {
        text-align: center;
        max-width: 100%;
    }
    
    .book img {
        margin: 0 auto;
        width: 100px;
    }
    
    .alert {
        transform: translateY(-100%);
        position: absolute;
        font-size: 12px;
        top: 0;
        left: 45%;
        background-color: rgba(44, 47, 72, 0.90);
        padding: 20px;
        border-radius: 0 0 16px 16px;
        transition: 0.2s all ease;
    }
    
    .favourites {
        margin-top: 35px;
        
    }
    
    .favourites + hr{
        margin-bottom: 35px;
        
    }
    
    .navbarr > hr {
        width: 100px;
    }
    
    .time {
        color: #fff;
        position: absolute;
        bottom: 8px;
        left: 6px;
    }
    
    .createBtn {
        cursor: pointer;
        background: transparent;
        padding: 5px 10px;
        border: none;
        position: relative;
        z-index: 1;
        transition:  color .3s ;
    }
    
    .createBtn::before {
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 0;
        transition: height .3s;
        background-color: #fff;
        
    }
    
    .createBtn:hover::before {
        height: 100%;
    }
    
    .createBtn:hover {
        color: #000;
    }
    
    .removeBtn {
        cursor: pointer;
        background: transparent;
        padding: 5px 10px;
        border: none;
        position: relative;
        z-index: 1;
        transition:  color .3s ;
    
    }
    
    .removeBtn::before {
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 0;
        transition: height .3s;
        background-color: #F8173E;
        
    }
    
    .removeBtn:hover::before {
        height: 100%;
    }
    
    .removeBtn:hover {
        color: #fff;
    }
    
    
    .fade {
        animation: fade .7s;
    }
    
    @keyframes fade {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }